.navbar.navbar-dark.navbar-expand-lg.fixed-top.bg-white.portfolio-navbar.gradient {
}

.navbar-brand.logo {
}

.dropdown {
}

#body {
  /*font-size: xx-small;*/
}

.btn-primary.focus, .btn-primary:focus, .btn-primary:hover {
  color: #fff;
  background-color: #008ce7;
  border-color: #0084da;
}

